/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    line-height:1.8;
}

* {
    box-sizing: border-box;
}

p, ul, ol, ul li {
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 30px;
}

hr {
    display:none;
}

.p-who-we-are {
    font-family: 'Fira Sans', sans-serif;

}
/* HEADER */
.epicode-logo {
    width:150px;
    height:50px;
}

header {
    /* padding:20px; */
    padding-top:20px;
    padding-right:100px;
    padding-bottom:20px;
    padding-left:100px;
    box-shadow:0 2px 15px #d3d3d3;
    background-color: white;
    position:sticky;
    top:0;
    z-index:8;
}

nav {
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.nav-links {
    /* padding:28px 0; */
}

.nav-links li {
    display:inline-block;
    margin:0 15px;
}

.nav-links a {
    text-decoration: none;
    color:rgb(118, 110, 110);
}

header nav ul li {
    margin-bottom:0.5em;
}

.btn {
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(155,155,204,1) 0%, rgb(121, 135, 190) 100%); */
    /* padding:10px 30px; */
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    padding-left:15px;
    cursor:pointer;
    background-image: linear-gradient(90deg, #6cc1e2 0, #392f7a);
    font-size:18px;
    color:white;
}

/* CHI SIAMO */
.who-box {
    display:flex;
    justify-content: space-between;
    column-gap: 20px;;
}

.who-box img {
    height:400px;
}

#we-are-coder {
    padding-left:80px;
    padding-right:80px;
}

.who-box img {
    margin: 0px 0px 25.2px;
}

.photo-2 {
    height:333px;
}

.no-span {
    color:white;
}






/* MAIN */
main section {
    padding: 45px 24px 24px;
    text-align: center;
}

main h1 {
    font-size: 40px;
    line-height:1.2;
    margin-bottom: 8px;
}

.button {
    color:white;
    text-decoration: none;
    background-image: linear-gradient(90deg, #6cc1e2 0, #392f7a);
    padding: 20px 25px;  
}

#banner-main {
    position:relative;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position: center center;
    color:white;
    text-shadow: 0 1px 2px black;
    padding-bottom:250px;
}

#banner-main::before {
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.25);
}

#banner-main h1 {
    font-size: 60px;
    line-height:1.2;
    margin-bottom: 8px;
}

#banner-main div {
    position:relative;
}

.button {
    animation: Animation 1.5s infinite;
    
}

main h2 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height:1.2;
}

main h3 {
    font-size: 30px;
    margin-bottom:7px;
    line-height:1;
}

main p {
    font-size:15px;
}

span {
    color:red;
}

.why-dev-box {
    display:flex;
    /* flex-direction: row;
    justify-content: center; */
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
}

.why-ep-dev div {
    margin-bottom:2em;
}

#contattaci {
    background-color: rgb(5, 5, 82);
    color:white;
    padding-bottom:100px;
    padding-top:100px;
    line-height:1.8;
}

#who-will-be li {
    list-style-type: none;
}

main section img {
    max-width:100%;
    height:auto;
    display:block;
    /* margin:0 auto 20px; */
}

#who-will-be {
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    text-align: left;
    padding-left:20px;
}

table {
    width:100%;
    margin:0 auto;
    max-width:800px;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    font-size:30px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(187, 206, 209);
    
}

thead tr th {
    background-color:#387d99;
    color:white;
    text-transform: uppercase;
    padding-bottom:15px;
    padding-top:15px;
    text-align: center;
}

tbody tr td {
    padding-top:15px;
    padding-bottom:15px;
    font-size:16px;
}

#box-contact {
    display:flex;
    justify-content: space-between;
    column-gap: 70px;
}



.field-box {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items:center;
    row-gap: 20px;   
}

.field-box label {
    display:block;
    text-align:left;
    text-transform: uppercase;
    font-size:13px;
}

.field-box input {
    width:100%;
}

.addresses {
    line-height: 40px;
}

#contacts {
    padding-left:90px;
    padding-right:90px;
}






/* FOOTER */
footer {
    /* padding: 40px; */
    background-color: rgb(222, 216, 216);
    border-top:1px solid rgb(228, 226, 226);
    font-size:15px;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    line-height:30px;
}

.ep-school-p {
    margin-top:17px;
}

footer div ul {
    margin-top:17px;
}





#footer-page {
    display:flex;
    justify-content: space-evenly;
    column-gap: 10px;
}

footer div {
    margin-bottom:20px;
}


.list {
    list-style-type: none;
    display:inline-block;
}

footer h2 {
    font-size:20px;
    line-height:1.5;
    text-transform: uppercase;
}

footer fieldset {
    display:flex;
    flex-direction: column;
}

footer input {
    font-size:35px;
    padding-top:10px;
    padding-bottom:10px;
}

footer button {
    cursor: pointer;
    background-image: linear-gradient(90deg, #6cc1e2 0, #392f7a);
    border:none;
    padding-top:20px;
    padding-bottom:20px;
    color:white;
    font-size:20px;
}

address {
    text-align: center;
}



/* RESPONSIVE */


/* ANIMAZIONI */
@keyframes Animation {
    0% {
        transform:scale(0.95);
        box-shadow: 0 0 0 0 rgba(0,0,0,0.9);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 15px rgba(0,0,0,0);
    }

    100% {
        transform:scale(0.95);
        box-shadow:0 0 0 0 rgba(0,0,0,0);
    }
}

/* MEDIA SCREEN */
@media screen and (max-width:600px) {
    header {
        padding-left:10px;     
    }

    nav {
        display:inline;
    }

    .coder-text {
        text-align: left;
    }

    main section div h1 p {
        text-align: left;
    }

    .why-dev-box  {
        display:inline;

    }

    #who-will-be {
        display:inline;
    }

    #who-will-be img {
        margin:0 auto;
    }

    .image-text {
        text-align: center;
        padding-top:15px;
    }

    #footer-page {
        display:inline;
    }
  
}

@media screen and (max-width:600px) {
    .p-who-we-are {
        padding-left:40px;
        padding-right:40px;
    }

    .who-box {
        display:inline;
    }

    .nav-links {
        visibility: hidden;
    }

    .icon-minwidth {
        display:flex;
        justify-content: flex-end;
    }

    .fas {
        font-size:50px;
    }    
}

@media screen and (min-width:800px) {
    .fas {
        visibility: hidden;
    }
}

@media screen and (max-width:800px) {
    .fas {
        visibility:hidden;
    }
    .p-who-we-are {
        padding-left:40px;
        padding-right:40px;
    }

    .who-box {
        display:inline;
    }

    #footer-page {
        font-size:14px;
        margin-bottom:30px;
        padding-bottom:0;
    }
}

@media screen and (min-width:600px) and (max-width:800px) {
   #contacts {
    display:flex;
    flex-direction: column;
   }

   #box-contact {
    display:flex;
    flex-direction: column;
    row-gap: 50px;
   }
}

